# Database connection string (PostgreSQL for production, SQLite fallback for local/Streamlit Cloud)
DATABASE_URL=postgresql://user:password@localhost:5432/pulsepay_db
# DATABASE_URL=sqlite:///./pulsepay.db

# Environment settings
ENVIRONMENT=development
WEBHOOK_SECRET=pulsepay_production_webhook_secret_key_998877

# Streamlit App Config
API_BASE_URL=http://localhost:8000
